<div class="main-container mt-2">
  <h2 class="page-title mb-2">{{ assignment?.title }}</h2>
  <div class="flex pb-2 mb-2 border-bottom">
    <span class="font-s me-2">작성일: {{ assignment?.createdAt | date: 'yyyy.MM.dd.' }}</span>
    <span class="font-s me-auto">작성자: {{ assignment?.writer.name }}</span>
    <span class="font-s">
      과제 제출 기한:
      <span class="text-primary fw-900" *ngIf="(assignment?.testPeriod | periodRange | async) == -1">
        {{ assignment | testPeriod }}
        ({{ assignment?.testPeriod?.start | restTime | async }})
      </span>
      <span class="text-warn fw-900" *ngIf="(assignment?.testPeriod | periodRange | async) == 0">
        진행 중 - {{ assignment?.testPeriod?.end | restTime | async }} 후 종료
      </span>
      <span class="text-primary" *ngIf="(assignment?.testPeriod | periodRange | async) == 1"> 종료 </span>
    </span>
  </div>

  <h3 class="mb-2">문제 목록</h3>
  <div *ngIf="(isWriter$ | async) && !orderableProblems" class="flex justify-end mb-2">
    <button
      *ngIf="assignment?.problems.length > 1"
      class="no-border-radius text-white"
      mat-flat-button
      color="accent"
      (click)="setReorderMode()"
    >
      순서변경
    </button>
    <a
      class="no-border-radius ms-2"
      *ngIf="isBeforeTestPeriod"
      mat-flat-button
      routerLink="/problem/new"
      [queryParams]="{ assignment: assignment?._id }"
      color="primary"
      >문제등록</a
    >
  </div>
  <div *ngIf="isWriter$ && orderableProblems" class="flex justify-end mb-2">
    <button
      class="no-border-radius text-white"
      *ngIf="assignment?.problems.length > 1"
      mat-flat-button
      color="accent"
      (click)="reorder()"
    >
      순서변경완료
    </button>
  </div>
  <div *ngIf="assignment?.problems.length === 0" class="border px-2 py-1 text-50">등록된 문제가 없습니다.</div>
  <ng-container *ngIf="!orderableProblems; else orderingTemplete">
    <a
      *ngFor="let problem of assignment?.problems; let i = index"
      [routerLink]="['/problem/detail', problem._id]"
      [queryParams]="{ assignment: assignment._id }"
      class="block border cursor pointer px-2 py-1 hover mb-2 line-ellipsis"
    >
      <span class="me-auto">{{ i + 1 }}) {{ problem.title }}</span>
    </a>
  </ng-container>
  <ng-template #orderingTemplete>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div
        *ngFor="let problem of orderableProblems; let i = index"
        cdkDrag
        (mousedown)="dragIndex = i"
        (mouseup)="dragIndex = -1"
        (mouseleave)="drageIndex = -1"
        [class.grabbing]="dragIndex === i"
        [class.grab]="drageIndex !== i"
        class="none-select border cursor px-2 py-1 hover mb-2 line-ellipsis"
      >
        {{ i + 1 }}) {{ problem.title }}
      </div>
    </div>
  </ng-template>
  <div class="flex justify-end" *ngIf="(assignment?.testPeriod | periodRange | async) !== -1">
    <button type="button" class="no-border-radius text-primary" mat-flat-button (click)="moveScoreBoard()">
      스코어보드
    </button>
  </div>
</div>
