:host {
  display: flex;
  align-items: center;

  //::ng-deep {
  //  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  //    //padding-bottom: 0;
  //  }
  //}
}

.time-select {
  width: 5rem;
}
