<div class="main-container mt-2" *ngIf="!isLoading">
  <h2 class="page-title mb-2">{{ problem?.title }}</h2>
  <div class="flex pb-2 mb-2 border-bottom">
    <span *ngIf="contest" class="font-s me-2">대회: {{ contest?.title }}</span>
    <span *ngIf="contest" class="font-s">점수: {{ problem?.score }}</span>
    <span *ngIf="!contest && !assignment" class="font-s me-2">대회: {{problem?.parentId?.title}}</span>
    <span *ngIf="!contest && !assignment" class="font-s">점수: {{problem?.score}}</span>
    <span *ngIf="assignment" class="font-s me-2">과제: {{ assignment?.title }}</span>
    <span *ngIf="contest" class="font-s ms-auto">작성자: {{ problem?.writer.name }}</span>
    <span *ngIf="!contest && !assignment" class="font-s ms-auto">작성자: {{problem?.writer.name}}</span>
    <span *ngIf="assignment" class="font-s ms-auto">교수명: {{ problem?.writer.name }}</span>
  </div>

  <div class="flex justify-end" *ngIf="submitable && isStudent">
    <button
      type="button"
      class="text-white me-2"
      mat-flat-button
      color="accent"
      (click)="moveListPage()"
    >
      문제목록
    </button>
    <button
      type="button"
      class="text-white me-2"
      mat-flat-button
      color="primary"
      (click)="mySubmitStatus()"
    >
      내 제출현황
    </button>
    <button
      type="button"
      mat-flat-button color="primary"
      (click)="submitSource()">
      소스제출
    </button>
  </div>

  <pdf-viewer
    *ngIf="problem"
    class="w-100"
    [(page)]="page"
    (after-load-complete)="loadPdf($event)"
    [show-all]="false"
    [original-size]="false"
    [src]="problem?.content | secure | async"
    [render-text]="true"
  ></pdf-viewer>

  <div class="flex justify-between mb-4 relative paginator">
    <button type="button" [disabled]="(page || 1) <= 1" (click)="prevPage()" mat-icon-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button type="button" [disabled]="page >= (lastPage || 1)" (click)="nextPage()" mat-icon-button>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>

  <!-- 예제 파일 다운로드 버튼 추가 -->
  <div *ngIf="problem?.exampleFiles?.length > 0" class="example-files">
    <h4>예제 파일 다운로드</h4>
    <ul>
      <li *ngFor="let file of problem.exampleFiles">
        <button type="button" mat-flat-button color="primary" (click)="downloadExampleFile(file)">
          {{ file.filename }}
        </button>
      </li>
    </ul>
  </div>

  <div class="flex justify-end" *ngIf="isWriter">
    <button type="button" class="text-white me-2" mat-flat-button color="accent"
            (click)="moveListPage()">
      문제목록
    </button>
    <button type="button" class="me-2" mat-flat-button color="primary" (click)="editProblem()">
      수정
    </button>
    <button type="button" mat-flat-button color="warn" (click)="removeProblem()"
    >삭제
    </button>
  </div>
</div>
