<div class="main-container mt-2">
  <h2 class="page-title mb-2">{{ problem?.title }}</h2>
  <div class="flex pb-2 mb-2 border-bottom">
    <span *ngIf="contest" class="font-s me-2">대회: {{ contest?.title }}</span>
    <span *ngIf="contest" class="font-s">점수: {{ problem?.score }}</span>
    <span class="font-s ms-auto">작성자: {{ problem?.writer.name }}</span>
  </div>

  <div class="flex justify-end" *ngIf="isWriter">
    <button type="button" class="no-border-radius me-2" mat-flat-button color="warn" (click)="removeProblem()">
      삭제
    </button>
    <button type="button" class="no-border-radius" mat-flat-button color="primary" (click)="editProblem()">수정</button>
  </div>

  <div class="flex justify-end" *ngIf="submitable">
    <button
      type="button"
      class="no-border-radius text-white me-2"
      mat-flat-button
      color="accent"
      (click)="moveListPage()"
    >
      목록
    </button>
    <button
      type="button"
      class="no-border-radius text-white me-2"
      mat-flat-button
      color="primary"
      (click)="mySubmitStatus()"
    >
      채점현황
    </button>
    <button type="button" class="no-border-radius" mat-flat-button color="primary" (click)="submitSource()">
      소스제출
    </button>
  </div>

  <pdf-viewer
    *ngIf="problem"
    class="w-100"
    [(page)]="page"
    (after-load-complete)="loadPdf($event)"
    [show-all]="false"
    [original-size]="false"
    [src]="problem?.content | secure | async"
    [render-text]="true"
  ></pdf-viewer>

  <div class="flex justify-between mb-4 relative paginator">
    <button type="button" [disabled]="(page || 1) <= 1" (click)="prevPage()" mat-icon-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button type="button" [disabled]="page >= (lastPage || 1)" (click)="nextPage()" mat-icon-button>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
