<button mat-icon-button (click)="closeDialog()" class="close-button">
  <mat-icon>close</mat-icon>
</button>
<h1 class>과제 메뉴얼</h1>
<hr class="mt-3">
<div class="p-5">
  <details>
    <summary>1. 과제 참여</summary>
    <hr class="my-2">
    <div class="details-container">
      <h4>참가를 원하는 과제 페이지에 들어가면 아래와 같은 화면을 볼 수 있습니다.</h4>
      <div class="image-container">
        <img src="/assets/images/manual/assignments-page.png" alt="과제 페이지" id="assignments-page">
        <label for="assignments-page" class="image-label">< 과제 페이지 ></label>
      </div>
      <h4>위 이미지 화면 하단의 과제참여 버튼을 누르면 참가가 됩니다.</h4>
      <br>
      <h4>만약 비밀번호를 입력하는 창이 나올 시 사전에 알려준 비밀번호를 입력하면 됩니다.</h4>
      <div class="image-container">
        <img src="/assets/images/manual/password.png" alt="비밀번호 입력창" id="password">
        <label for="password" class="image-label">< 비밀번호 입력창 ></label>
      </div>
      <br>
      <h4>과제참여가 완료가 되면 아래 이미지처럼 화면이 나옵니다.</h4>
      <div class="image-container">
        <img src="/assets/images/manual/assignment-page.png" alt="과제참여 후" id="assignment-page">
        <label for="assignment-page" class="image-label">< 과제참여 후 ></label>
      </div>
    </div>
  </details>
  <details>
    <summary>2. 문제 풀기</summary>
    <hr class="my-2">
    <div class="details-container">
      <h4>과제참여 버튼을 누르면 아래 이미지처럼 과제 문제들을 확인해볼 수 있습니다.</h4>
      <div class="image-container">
        <img src="/assets/images/manual/problems.png" alt="과제" id="problems">
        <label for="problems" class="image-label">< 과제 ></label>
      </div>
      <br>
      <h4>시간 제한과 메모리 제한을 확인해 주시고 문제의 설명을 자세히 보고 코드로 구현하시면 됩니다.</h4>
      <h4>화면 상단에 제출현황을 눌러 제출한 코드 결과를 확인해볼 수 있고, 소스제출 버튼을 눌러 소스제출 페이지로 이동할 수 있습니다.</h4>
      <div class="image-container">
        <img src="./assets/images/manual/problem.png" alt="문제" id="problem">
        <label for="problem" class="image-label">< 문제 ></label>
      </div>
    </div>
  </details>
  <details>
    <summary>3. 문제 제출</summary>
    <hr class="my-2">
    <div class="details-container">
      <h4>해당 젓저 시스템은 소스 파일을 넣을 수 있게 되있습니다. 아래 이미지처럼 IDE에 적은 코드를 저장을 시켜줍니다.</h4>
      <h4>※ 입력 언어가 java일 경우 클래스 이름의 Main, 파일 이름을 꼭 Main.java로 해주셔야 됩니다.</h4>
      <div class="image-container">
        <img src="/assets/images/manual/problem-code-ex.png" alt="코드 예시" id="problem-code-ex">
        <label for="problem-code-ex" class="image-label">< 코드 예시 ></label>
      </div>
      <br>
      <h4>저장 완료를 하면 문제 제출 페이지에서 문제풀이한 언어를 선택을 해주고 소스 파일 선택 버튼을 눌러 저장한 파일을 입력해주면 됩니다.</h4>
      <h4>그 후 제출 버튼을 누르면 아래와 같은 결과 화면을 확인해볼 수 있습니다.</h4>
      <h4>※ 채점을 실행하는데 몇 초 걸릴 수 있습니다.</h4>
      <h4>※ 입출력 예시가 모두 같아도 숨겨진 입출력 예시가 있어 오답이 될 수 있습니다.</h4>
      <div class="image-container">
        <img src="/assets/images/manual/submit-results.png" alt="전체 제출내역" id="submit-results">
        <label for="submit-results" class="image-label">< 전체 제출내역 ></label>
      </div>
      <br>
      <h4>체점내역을 자세히 보려면 제출내역을 누르면 아래와 같은 화면을 확인해볼 수 있습니다.</h4>
      <div class="image-container">
        <img src="/assets/images/manual/submit-result.png" alt="개별 제출내역" id="submit-result">
        <label for="submit-result" class="image-label">< 개별 제출내역 ></label>
      </div>
    </div>
  </details>
</div>