<div class="main-image"
     [class.mb-4]="layout.desktop$ | async"
     [class.mb-1]="layout.mobile$ | async"
     [class.flex]="layout.mobile$ | async"
     [class.algin-center]="layout.mobile$ | async"
     swBackgroundPosition="center"
     swBackgroundSize="cover"
     swBackgroundColor="rgba(0, 0, 0, 0.7)"
     swBackgroundBlendMode="multiply"
     swBackgroundImage="assets/images/main.jpg">
    <div class="main-container p-4 flex column" [class.justify-center]="layout.mobile$ | async">
        <h2 class="brand-name text-primary">충북대학교 SW중심대학사업단</h2>
        <h1 class="service-name mt-2"><span class="text-accent">ONLINE JUDGE</span> 시스템</h1>
    </div>
</div>
<div class="main-container flex py-2 mobile-column-reverse">
    <div class="grow-1 p-2 border" [class.me-2]="layout.desktop$ | async">
        <h3 class="mb-3">진행 중인 대회</h3>
        <sw-progressing-contest-list></sw-progressing-contest-list>
    </div>

    <div class="p-2 border"
         [class.shrink-0]="layout.desktop$ | async"
         [class.w-40]="layout.desktop$ | async"
         [class.mb-2]="layout.mobile$ | async"
         [class.grow-1]="layout.mobile$ | async">
        <ng-container *ngIf="auth.loggedIn; else loginTamplate">
            <p class="font-s flex justify-between align-center border-bottom mb-2 pb-1">
                <span><span class="text-primary fw-700">
                    <a [href]="myPageUrl">{{auth.me?.name}}</a>
                </span>님 로그인 중</span>
                <button mat-button (click)="auth.logout()">로그아웃</button>
            </p>
            <h3 class="mb-2">참가 신청한 대회</h3>
            <sw-my-registered-contest></sw-my-registered-contest>
        </ng-container>
        <ng-template #loginTamplate>
            <h3 class="mb-3">
                <span class="text-primary fw-900 font-l mobile-d-none">SW </span>
                <span class="text-accent fw-900 font-l">ONLINE JUDGE</span> 로그인
            </h3>
            <sw-login-form></sw-login-form>
        </ng-template>
    </div>
</div>
