@import "variables";
@import "mixins";

.main-image {
  height: 30vh;
  min-height: 300px;
  color: rgba(255, 255, 255, 0.75);

  @include mobile {
    min-height: 200px;

    .brand-name {
      font-size: 1.2rem;
    }

    .service-name {
      font-size: 1.4rem;
    }
  }
}

