.w-full {
  width: 100%;
}

.main {
  flex: 1 1 100%;
}

.menu-container {
  color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.menu-container:hover {
  cursor: pointer;
}

.black-text {
  color: black;
}

.flex-container {
  display: flex;
}

.side-bar {

}

@media (min-width: 1024px) {
  .flex-container {
    flex-direction: row;
  }
}

@media (max-width: 1023px) {
  .flex-container {
    flex-direction: column;
  }

  .side-bar {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
}