<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <mat-form-field class="w-100 mb-1">
        <mat-label>학번/교번 또는 아이디</mat-label>
        <input type="text"
               matInput
               formControlName="no"
               [errorStateMatcher]="errorMatcher"
               required
               autocomplete="off"
               placeholder="학번/교번 또는 아이디 입력">
        <mat-hint>충북대학교 SW중심대학사업단 계정</mat-hint>
        <mat-error *ngIf="hasError('required', 'no')">필수 입력항목입니다.</mat-error>
        <mat-error class='none-select' *ngIf="hasSubmissionError('no')">
          {{ submissionErrorMessage }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mb-4">
        <mat-label>비밀번호</mat-label>
        <input type="password"
               matInput
               formControlName="password"
               [errorStateMatcher]="errorMatcher"
               required
               autocomplete="off"
               placeholder="비밀번호 입력"/>
        <mat-hint>충북대학교 SW중심대학사업단 비밀번호</mat-hint>
        <mat-error *ngIf="hasError('required', 'password')">필수 입력항목입니다.</mat-error>
        <mat-error class='none-select' *ngIf="hasSubmissionError('password')">
          {{ submissionErrorMessage }}
        </mat-error>
    </mat-form-field>
    <div class="flex mb-2">
        <span class="font-s">
            <span class="me-2">계정이 없으면</span>
            <a class="text-primary" [href]="joinPageUrl" target="_blank">회원가입</a>
        </span>
    </div>
    <button class="w-100" mat-flat-button color="primary">로그인</button>
</form>
