<div class="mb-2">
    <div class="flex mobile-column">
        <mat-form-field class="w-100"
                        [class.me-2]="layout.desktop$ | async"
                        [class.mb-2]="layout.mobile$">
            <mat-label>입력 파일 확장자</mat-label>
            <input matInput
                   [(ngModel)]="inExt"
                   type="text"
                   autocomplete="off"
                   placeholder="Ex) .in"/>
            <mat-hint>입력 파일의 확장자를 입력해주세요. 없을 경우 비어둠</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>출력 파일 확장자</mat-label>
            <input matInput
                   [(ngModel)]="outExt"
                   type="text"
                   autocomplete="off"
                   placeholder="Ex) .out"/>
            <mat-hint>출력 파일의 확장자를 입력해주세요. 없을 경우 비어둠</mat-hint>
        </mat-form-field>
    </div>
    <span class="help">
    <i class="las la-info-circle me-1"></i>
    입력/출력 파일의 확장자를 다르게 해야 합니다. 파일명이 같은 것끼리 하나의 입/출력셋으로 묶입니다.
</span></div>

<div swFileChooser
     [multiple]="true"
     [disabled]="sameExt"
     (filesChange)="uploadIoSet($event)"
     (click)="checkExt()"
     class="cursor pointer hover relative border flex justify-center align-center py-3 mb-2">
    <div *ngIf="loading" class="loading">
        <mat-spinner mode="determinate"
                     [value]="progress"></mat-spinner>
    </div>
    <span class="text-50 none-select">
        <i class="las la-copy me-1"></i>입/출력 파일들을 올려주세요.
    </span>
</div>

<div *ngFor="let io of value; let i = index" class="border px-2 py-1 flex">
    <div class="flex column me-auto">
        <span>입력: {{io.inFile.filename}}</span>
        <span>출력: {{io.outFile.filename}}</span>
    </div>
    <div>
        <button type="button" mat-icon-button (click)="removeIo(i)">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
