.w-full {
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: #fff;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.profile-image {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-email {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-section {
  margin-bottom: 40px;
  padding: 40px;
}

.table-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.table-hr {
  margin-bottom: 20px;
}

.profile-section-content {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-section-item {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-section-label {
  font-weight: bold;
  margin-right: 10px;
}

.no-cell {
  width: 10%;
}

.course-cell {
  width: 40%;
}

.title-cell {
  width: 90%;
}

.mat-cell, .mat-header-cell {
  text-align: center;
}

@media (min-width: 1024px) {
  .profile-container {
    flex-direction: row;
  }
}

@media (max-width: 1023px) {
  .profile-container {
    flex-direction: column;
  }
}