<div class="main-container flex align-center">
    <a class="flex brand-wrapper grow-0 me-6" routerLink="/">
        <img class="brand-image me-1" src="assets/images/logo.png" alt="logo image"/>
        <div class="brand-name flex align-center">
            <span class="text-primary font-xl fw-900 mobile-d-none me-1">SW</span><span
            class="font-l fw-900 text-accent"> ONLINE JUDGE</span>
        </div>
    </a>
    <nav class="flex align-end grow-1 font-m me-auto mobile-d-none">
        <ng-container *ngFor="let menu of menus">
            <a class="px-1 me-2" [routerLink]="menu.link"
               *ngIf="!menu.condition$ || (menu.condition$ | async)">
                {{menu.name}}
            </a>
        </ng-container>
    </nav>
    <a class="cursor pointer font-s mobile-d-none"
       routerLink="/account/login"
       *ngIf="!auth.loggedIn">로그인</a>
    <span class="font-s mobile-d-none" *ngIf="auth.loggedIn">
        <span *ngIf="isStudent">{{auth.me?.university}}</span> {{auth.me?.department}} {{auth.me?.name}}님 로그인 중
        <a class="cursor pointer ms-2"
           (click)="logout()">로그아웃</a>
    </span>
    <div class="ms-auto">
        <button class="desktop-d-none" mat-icon-button (click)="openMobileNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</div>
<sw-mobile-navigation *ngIf="isOpenMobileNav"
                      [menus]="menus"
                      (changeOpenNav)="changeOpenNav($event)">
</sw-mobile-navigation>
