<div class="p-2 border" *ngIf="documents?.length  === 0">
    참가 신청한 대회가 없습니다.
</div>
<div class="p-2 border cursor pointer hover"
     [class.mb-1]="i !== documents?.length - 1"
     *ngFor="let doc of documents; let i = index"
     [routerLink]="['/contest/detail', doc._id]">
    <div class="border-bottom py-1 mb-1 w-100 line-ellipsis">{{doc.title}}</div>
    <div class="font-s">
        <span>대회 시작:
            <span *ngIf="(doc.testPeriod | periodRange | async) === -1">
                &nbsp;{{doc.testPeriod.start | date: 'MM.dd. HH:mm'}}
                <span class="text-accent fw-700">({{doc.testPeriod.start | restTime | async}} 전)</span>
            </span>
            <span class="text-warn fw-900" *ngIf="(doc.testPeriod | periodRange | async) === 0">
                진행 중
            </span>
            <span class="text-primary" *ngIf="(doc.testPeriod | periodRange | async) === 1">
                종료
            </span>
        </span>
    </div>
</div>
