<div class="main-container mt-2">
  <h2 class="mb-2 page-title">{{ assignment?.title }}</h2>
  <span class="flex border-bottom pb-2 mobile-column">
    <span class="font-s me-auto">
      과제시간:&nbsp;
      <span *ngIf="(assignment?.testPeriod | periodRange | async) === -1" class="fw-700">
        {{ assignment | testPeriod }}
        <span class="text-accent fw-700">({{ assignment.testPeriod.start | restTime | async }} 전)</span>
      </span>
      <span *ngIf="(assignment?.testPeriod | periodRange | async) === 0" class="text-warn fw-900">
        <span class="text-warn fw-900">{{ assignment.testPeriod.end | restTime | async }} 남음</span>
      </span>
      <span *ngIf="(assignment?.testPeriod | periodRange | async) === 1" class="text-primary"> 종료 </span>
    </span>
    <span class="font-s me-2">과목명: {{assignment?.course}}</span>
    <span class="font-s">교수명: {{assignment?.writer.name }}</span>
  </span>

  <div class="py-2 border-bottom mb-2">
    <div class="border-box" [swInnerHtml]="assignment?.content"></div>
  </div>

  <div *ngIf="isStudent" class="flex justify-end" style="padding-bottom: 10px">

    <button
      mat-flat-button
      color="primary"
      style="color: white"
      *ngIf="!isContestant"
      (click)="enroll()"
    >
      <i class="las la-play"></i><span class="ms-2 mobile-d-none">과제 참여</span>
    </button>

    <button class="me-2"
            mat-flat-button color="warn"
            style="color: white"
            (click)="unenroll()"
            *ngIf="isContestant"
    >
      <i class="las la-play"></i><span class="ms-2 mobile-d-none">참여 취소</span>
    </button>

    <button
      mat-flat-button color="accent"
      style="color: white"
      *ngIf="isContestant"
      [routerLink]="['/assignment', assignment?._id, 'problems']">
      <i class="las la-play"></i><span class="ms-2 mobile-d-none">문제 페이지</span>
    </button>
  </div>

  <div *ngIf="isWriter$ || auth.hasJudgePermission" class="flex justify-end">
    <button
      class="text-white me-2"
      mat-flat-button
      color="accent"
      [routerLink]="['/assignment/edit', assignment?._id]"
    >
      <i class="las la-edit"></i><span class="ms-2 mobile-d-none">과제 수정</span>
    </button>

    <button
      class="text-white me-2"
      mat-flat-button color="accent"
      [routerLink]="['/assignment', assignment?._id, 'submits']">
      <i class="las la-edit"></i><span class="ms-2 mobile-d-none">과제 제출 목록</span>
    </button>

    <button
      *ngIf="isWriter$ || isAfterTestPeriod"
      class="text-white me-2"
      mat-flat-button
      color="primary"
      [routerLink]="['/assignment', assignment?._id, 'problems']"
    >
      <i class="las la-folder-plus"></i><span class="ms-2 mobile-d-none">문제 등록/수정</span>
    </button>

    <button type="button" class="text-white" (click)="removeAssignment()" mat-flat-button color="warn">
      <i class="las la-trash-alt"></i><span class="ms-2 mobile-d-none">과제 삭제</span>
    </button>
  </div>
</div>
