@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin combine($prefix, $values, $property) {
  @each $value in $values {
    .#{$prefix}-#{$value} {
      #{$property}: $value;
    }
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 991.98px) {
    @content;
  }
}
