@import "variables";
@import "mixins";

@mixin generate-font-size {
  $sizes: (0.5, 0.875, 1, 1.2, 1.5);
  $postfixes: (xs, s, m, l, xl);

  @for $i from 1 through length($sizes) {
    .font-#{nth($postfixes, $i)} {
      font-size: 1em * nth($sizes, $i) !important;
    }
  }
}

@mixin generate-font-weight {
  $sizes: (100, 300, 400, 500, 700, 900);

  @each $size in $sizes {
    .fw-#{$size} {
      font-weight: $size;
    }
  }
}

@mixin generate-text-alignment {
  $alignments: (left, right, center, justify);

  @each $alignment in $alignments {
    .text-#{$alignment} {
      text-align: $alignment;
    }
  }
}


.page-title {
  font-size: 1.5rem;

  @include mobile {
    font-size: 1.2rem;
  }
}

.text-white {
  color: white !important;
}

.text-50 {
  color: rgba(33, 33, 33, 0.5);
}

.text-primary {
  color: mat-color($main-primary);
}

.text-accent {
  color: mat-color($main-accent);
}

.text-warn {
  color: mat-color($main-warn);
}

.line-ellipsis {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

@include generate-text-alignment();
@include generate-font-size();
@include generate-font-weight();
