@import "variables";

.table-wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow-x: auto;
  background-color: white;
}

table {
  width: 100%;
  //border-top: $table-border;
  //border-left: $table-border;
  //border-right: $table-border;
  border: 1px solid $border-color;
}

tbody {
  tr.pointer:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }

  tr.empty-row {
    color: rgba(0, 0, 0, 0.54);
  }
}

th, td {
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0 1rem !important;
}
