<div class="main-container mt-2" *ngIf="isRender">
  <h2 class="mb-2">{{contest?.title}} 제출 목록</h2>
  <div class="table-wrapper">
    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="flex align-center mb-2">
      <mat-form-field class="w-60">
        <mat-label>검색</mat-label>
        <span matPrefix style="margin-right: 1rem;"><i class="las la-search"></i></span>
        <input matInput [formControl]="keywordControl" autocomplete="off" placeholder="Ex. 2020001001" />
        <mat-hint>학생명, 학생번호, 언어로 검색</mat-hint>
      </mat-form-field>
      <div class="ms-auto">
        <!-- <button
          (click)="getDone()"
          type="button"
          mat-flat-button
          color="primary"
          >
          <span *ngIf="!done">정답만 가져오기</span>
          <span *ngIf="done">전체 가져오기</span>
        </button> -->
      </div>
      <div class="ms-auto">
        <button (click)="downloadExcel()" type="button" mat-flat-button color="primary">
          제출목록 다운로드
        </button>
      </div>
    </div>

    <table mat-table [dataSource]="documents">
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ getNo(i) }}</td>
      </ng-container>

      <ng-container matColumnDef="university">
        <th mat-header-cell *matHeaderCellDef>대학</th>
        <td mat-cell *matCellDef="let row">{{ row.user.university}}</td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>학과(부)</th>
        <td mat-cell *matCellDef="let row">{{ row.user.department}}</td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>학번</th>
        <td mat-cell *matCellDef="let row">{{ row.user.no }}</td>
      </ng-container>

      <ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef>이름</th>
        <td mat-cell *matCellDef="let row">{{ row.user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>문제명</th>
        <td mat-cell *matCellDef="let row">{{ row.problem.title }}</td>
      </ng-container>

      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef>언어</th>
        <td mat-cell *matCellDef="let row">{{ row.language }}</td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>체점 결과</th>
        <td
          mat-cell
          *matCellDef="let row"
          [class.text-warn]="row.result?.type !== 'done'"
          [class.text-primary]="row.result?.type === 'done'">
          {{ row.result?.type | result}}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>제출시간</th>
        <td mat-cell *matCellDef="let row">{{ row.createdAt | date: 'yyyy년 MM월 dd일 hh시 mm분'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: columns"
        [routerLink]="['/submit/detail', row._id]"
        class="cursor pointer">
      </tr>
      <tr class="mat-row empty-row" *matNoDataRow>
        <td [attr.colspan]="columns.length" class="px-2">
          <span>제출목록이 없습니다.</span>
        </td>
      </tr>
    </table>
    <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]=[10,25,50,100] (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>
