@import "variables";

:host {
  display: block;

  ::ng-deep {
    [contenteditable]:focus {
      outline: 1px solid $border-color !important;
      border: 1px solid $border-color !important;
      box-shadow: inset 0 0 0 !important;
    }

    ckeditor {
      position: relative;
      display: block;
      box-sizing: border-box;
      padding-top: 38px;
      background-color: $border-color;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.12);

      &.has-error {
        outline: 1px solid mat-color($main-warn);
      }
      //height: 80vh;
      //max-height: 80vh;
      //min-height: 400px;
      overflow-y: hidden;

      .ck-toolbar {
        position: absolute;
        top: 0;
        width: 100%;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.4);
      }

      .ck.ck-editor__editable_inline {
        border: 1px solid $border-color;
      }

      .ck-content {
        padding: 0.8rem 1rem;
        box-sizing: border-box;
        background-color: white;
        height: 60vh;
        min-height: 400px;
        overflow-y: auto;
        //width: 96%;
        //margin: 0 auto;
        //box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);

        figure.table,
        figure.image {
          width: 90%;
          margin: 1rem auto;
        }
      }
    }

    .ck-editor__editable_inline {
      min-height: 500px;
    }
  }
}

.period-error {
  top: -1rem;
}
